body, html {
    height: 100%;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.greet-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
}

.quote-container {
    height: 60vh;
    width: 100%;
}

.bg-glass {
    align-items: center;
    justify-content: center;
    height: 20vh;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
}

.greet {
    width: 80%;
    display: flex;
}

.qbox {
    width: 60%;
}

.head {
    height: 5vh;
    display: flex;
}

#greeting {
    font-size: 4.5rem;
    font-family: sans serif;
}

#today_quote {
    font-siz: 2.5rem;
    font-family: 'Nanum Gothic', serif;
}
