body, html {
    height: 100%;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    align-text: center;
}

hr {
    margin: auto !important;
    max-width: 65px;

}

.greet-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
}

.quote-container {
    height: 20vh;
    width: 100%;
}

.nav-container {
    height: 40vh;
    width: 100%;
}

.bg-glass {
    align-items: center;
    justify-content: center;
    height: 20vh;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
}

.greet {
    width: 80%;
    display: flex;
    border-radius: 20px;
}

.qbox {
    width: 60%;
    border-radius: 5px;
}

.head {
    height: 5vh;
    display: flex;
    place-items: flex-end;
    font-style: italic;
    place-content: start;
}

.centered-content {
    display: grid;
    place-items: center;
}

.card {
    --bs-card-bg: rgba(255, 255, 255, 0.15) !important;
}

#greeting {
    font-size: 4.5rem;
    font-family: sans serif;
}
#quote_title {
    margin-left : 10px;
}

#today_quote {
    font-family: 'Nanum Gothic', serif;
    margin-top: 1.5rem;
    margin-left:
}
#quote_author {
    text-align-last: end;
    margin-right: 20px;
    margin-top: revert;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dddddd;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.addBtn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
